# ------------------------------
# Node modules
# ------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

firebase/serviceAccountKey.js

# ------------------------------
# Environment variables
# ------------------------------
.env
.env.*
!.env.example

# ------------------------------
# Logs
# ------------------------------
logs
*.log

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Build folders
# ------------------------------
dist/
build/
.next/
out/

# ------------------------------
# Cache
# ------------------------------
.cache/
.vite/
.parcel-cache/

# ------------------------------
# Coverage reports
# ------------------------------
coverage/

# ------------------------------
# IDE / Editor files
# ------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------
# TypeScript
# ------------------------------
*.tsbuildinfo

# ------------------------------
# Firebase (if used)
# ------------------------------
.firebase/
.firebaserc

# ------------------------------
# Misc
# ------------------------------
*.local